<div class="card">
    <p-button (click)="groupByFirma(customers.data)" class="ml-5"><i class="pi pi-pencil"></i><span class="ml-3">Firmaya Göre</span></p-button>
    <p-button (click)="groupByCity(customers.data)" class="ml-5"><i class="pi pi-pencil"></i><span class="ml-3">Şehire Göre</span></p-button>
    <p-button (click)="groupByGrup(customers.data)" class="ml-5"><i class="pi pi-pencil"></i><span class="ml-3">Gruba Göre</span></p-button>
    <p-treeTable [value]="files" [columns]="cols" [paginator]="true" [rows]="selectedRow" [scrollable]="true" [tableStyle]="{'min-width':'50rem'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr>
                <td *ngFor="let col of columns; let i = index">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                    {{ rowData[col.field] }}
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
    <div class="row">
        <p> <label for="mail">Toplam Veri Sayısı: {{customers.totalRecords}}</label></p>
        <label for="mail">Satır Sayısı: </label>
        <p-dropdown [options]="selectableRows" class="ml-3" [(ngModel)]="selectedRow" (onChange)="onRowsChange($event.value)" optionLabel="name" optionValue="value"></p-dropdown>
    </div>
</div>